<!-- <link rel="stylesheet" href="../../public/css/sidebar.css"> -->

 <!-- sidebar biru -->
<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar" class="active">
    <img class="logo mt-2 ml-4 mb-2" src="img/Rectangle 63.png" alt="Logo" />
    <ul class="list-unstyled components mb-5">
      <li>
        <a href="/"><img src="img/Group 2.png" alt=""> Dashboard</a>
      </li>
      <li>
        <a href="/car"><img src="img/fi_truck.png" alt="" ><br>
          Cars </a>
      </li>
    </ul>
  </nav>

  <!-- sidebar putih -->
  <nav id="side" class="active">
    <img class="logo mt-2 ml-4" src="img/Rectangle 62.png" alt="" />
    <ul class="list-unstyled components mb-5">
      <li>
        <a href="/">Dashboard</a>
      </li>
      <li>
        <a href="/">dashboard </a>
      </li>
    </ul>
  </nav>

  <!-- navbar atas -->

  <div id="content" class="">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <!-- <button type="button" id="sidebarCollapse" class="btn">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button> -->
        <button type="button" class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
          <i class="fas fa-bars"></i>
        </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item active">
            
            <div class="input-group ">
              <input type="text" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome" />
              <!-- <input type="text" class="form-control" placeholder="&#xF52A; Search" aria-label="Search" aria-describedby="basic-addon2"> -->
              <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button">Search</button>
                <!-- <span class="input-group-text" id="basic-addon2">Search</span> -->
                &nbsp; &nbsp;
              </div>
            </div>

            </li>
            <li class="nav-item">
              <img src="img/Group 15.png " alt="profil">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Unis Badri</a>
            </li>
            <li class="nav-item">
              <i class="fas fa-angle-down mt-3"></i>
              <!-- <i class="bi bi-chevron-down mt-3"></i> -->
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

</div>